
.DS_Store
.vs/BlueWindowsTriage/CopilotIndices/17.14.878.3237/CodeChunks.db
.vs/BlueWindowsTriage/CopilotIndices/17.14.878.3237/SemanticSymbols.db
.vs/BlueWindowsTriage/FileContentIndex/e898b4cf-0c6c-488d-b95a-fc23484d0629.vsidx
.vs/BlueWindowsTriage/v17/.wsuo
.vs/BlueWindowsTriage/v17/DocumentLayout.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/BlueWindowsTriage/CopilotIndices/17.14.878.3237/CodeChunks.db-shm
.vs/BlueWindowsTriage/CopilotIndices/17.14.878.3237/CodeChunks.db-wal
.vs/BlueWindowsTriage/CopilotIndices/17.14.878.3237/SemanticSymbols.db-shm
.vs/BlueWindowsTriage/CopilotIndices/17.14.878.3237/SemanticSymbols.db-wal
.vs/BlueWindowsTriage/FileContentIndex/a5e96b36-cf7d-46fa-ba19-864bf2a23888.vsidx
*.vsidx
/.vs
