
.DS_Store
.vs/BlueWindowsTriage/CopilotIndices/17.14.878.3237/CodeChunks.db
.vs/BlueWindowsTriage/CopilotIndices/17.14.878.3237/SemanticSymbols.db
.vs/BlueWindowsTriage/FileContentIndex/e898b4cf-0c6c-488d-b95a-fc23484d0629.vsidx
.vs/BlueWindowsTriage/v17/.wsuo
.vs/BlueWindowsTriage/v17/DocumentLayout.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
